<app-navbar></app-navbar>
<main class="container text-center mt-4">
  <h1>Tennisorama</h1>
  <h2 class="fs-4">Créez les joueurs pour jouer avec !</h2>
  <app-player-form (playerFormEvent)="playerDatasEvent($event)"></app-player-form>
  <section class="stats d-flex flex-column gap-3">
    <div class="game col-8 border rounded-3 offset-2 overflow-y-scroll text-start p-4 lh-lg">
      <ng-container *ngIf="game else noData">
        <ul>
          <ng-container *ngFor="let result of gameLogs">
            <li class="fw-medium">{{ result }}</li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
    <ul>
      <ng-container *ngIf="game">
        <ng-container  *ngFor="let set of game.sets; index as i">
          <li>
            <p class="text-start">game {{ i + 1 }} : {{ game.players.player1.player.name }} a marqué <span class="fw-bold">{{ set.players.player1.score }}</span>
              points {{ game.players.player2.player.name }} a marqué <span class="fw-bold">{{ set.players.player2.score }}</span> points</p>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </section>
  <section>
    <app-results [gameResults]="game" ></app-results>
  </section>
</main>

<ng-template #noData>
  <p class="text-center fs-3">Lancez une partie pour avoir les statistiques de la partie</p>
</ng-template>