<app-navbar></app-navbar>
<main class="container text-center mt-4">
  <h1>Tennisorama</h1>
  <h2 class="fs-4">Créez les joueurs pour jouer avec !</h2>
  <app-player-form (playerFormEvent)="playerDatasEvent($event)"></app-player-form>
  <section class="stats d-flex flex-column gap-3">
    <div class="game col-8 border rounded-3 offset-2 overflow-y-scroll text-start p-4 lh-lg">
      <ng-container *ngIf="match else noData">
        <ul>
          <ng-container *ngFor="let result of matchLogs">
            <li class="fw-medium">{{ result }}</li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
    <!--TODO erase this part when over-->
    <ul class="text-start">
      <ng-container *ngIf="match">
        <ng-container  *ngFor="let gameMessage of matchDebug">
          <li>
            <p>{{ gameMessage }}</p>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </section>
  <section>
    <!--TODO effacer ça -->
    <ng-container *ngIf="winner">
      {{ winner.name }} a gagné le match
    </ng-container>
    <!--<app-results [matchResults]="matchResults" ></app-results>-->
  </section>
</main>

<ng-template #noData>
  <p class="text-center fs-3">Lancez une partie pour avoir les statistiques de la partie</p>
</ng-template>