<div class="container my-5">
    <div class="forms d-flex gap-3">
        <div class="col-6 mb-2">
            <form  [formGroup]="player1Form">
                <div class="form-floating mb-3 ">
                    <input type="text" class="form-control" id="name" placeholder="John Doe" formControlName='name'>
                    <label for="name">Joueur 1</label>
                    <p class="error mt-2" *ngIf="player1Form.get('name').errors?.['required']">Le joueur 1 doit avoir un Pseudo</p>
                </div>
                <input type="range" class="form-range" min="1" max="10" id="player1Lvl" formControlName='level'>
                <p class="error" *ngIf="player1Form.get('level').errors?.['required']">Un joueur doit avoir un niveau</p>
                <p class="error" *ngIf="player1Form.get('level').errors?.['max']">Le niveau max est niveau 10</p>
                <p class="error" *ngIf="player1Form.get('level').errors?.['min']">Le niveau minimum est niveau 1</p>
                <label for="level" class="form-label">Niveau {{ player1Form.value.level }}</label>
            </form>
        </div>
        <div class="col-6">
            <form [formGroup]="player2Form">
                <div class="form-floating mb-3 ">
                    <input type="text" class="form-control" id="name" placeholder="John Doe" formControlName='name'>
                    <label for="name">Joueur 2</label>
                    <p class="error mt-2" *ngIf="player2Form.get('name').errors?.['required']">Le joueur 2 doit avoir un Pseudo</p>
                </div>
                <input type="range" class="form-range" min="1" max="10" id="player1Lvl" formControlName='level'>
                <label for="level" class="form-label">Niveau {{ player2Form.value.level }}</label>
            </form>
        </div>
    </div>
    <button class="btn btn-primary"(click)="onSubmit(player1Form.value, player2Form.value)">Jouer !</button>
    <p class="error" *ngIf="!player1Form.valid || !player2Form.valid">Veuillez vérifier les informations erroné</p>
</div>