<form class="my-5">
    <div class="row d-flex flex-column flex-md-row">
        <div class="col">
            <div class="form-floating mb-3 input-group-sm">
                <input type="text" class="form-control" id="playerName1" placeholder="John Doe">
                <label for="playerName1">Joueur 1</label>
            </div>
            <input type="range" class="form-range" min="0" max="10" id="player1Lvl">
            <label for="player1Lvl" class="form-label">Niveau du joueur 1</label>
        </div>
        <div class="col">
            <div class="form-floating mb-3 ">
                <input type="text" class="form-control" id="playerName2" placeholder="John Doe">
                <label for="playerName2">Joueur 2</label>
            </div>
            <input type="range" class="form-range" min="0" max="10" id="player2Lvl">
            <label for="player2Lvl" class="form-label">Niveau du joueur 2</label>
        </div>
    </div>
</form>